# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Local development settings
local_settings.py

# Log files
*.log

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environment
venv/
env/
*.env

# IDE files
.vscode/
*.pycharm
*.sublime-project
*.sublime-workspace

# Ignore coverage reports
.coverage
htmlcov/

# Exclude JSON files in alltrails/alltrails/
alltrails/alltrails/*.json

# Exclude the "images" folder in alltrails/alltrails/
alltrails/alltrails/images/