# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Local development settings
local_settings.py

# Log files
*.log

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environment
venv/
env/
*.env

# IDE files
.vscode/
*.pycharm
*.sublime-project
*.sublime-workspace

# Python bytecode
*.pyc
__pycache__/

# Ignore all migrations
**/migrations/

# Ignore coverage reports
.coverage
htmlcov/

# Ignore .pyc files in the Django app
hikemate/__pycache__/
hikemate/*.pyc

# Exclude JSON files in alltrails/alltrails/
alltrails/alltrails/*.json

# Exclude the "images" folder in alltrails/alltrails/
alltrails/alltrails/images/