{% extends "main.html" %}
{% block content %}
    <!-- Main Section -->
    <!-- <main class="home"> -->
        <!-- <section class="hero-section text-center">
            <div class="container container--narrow">
                <div class="hero-section__box">
                    <h2>
                        Find your dream <span>Trail</span>
                    </h2>
                </div>
                <div class="hero-section__search">
                    <form id="searchForm" class="form" action="{% url 'trails' %}" method="get">
                        <div class="form__field">
                            <label for="formInput#search">Search by city, park or trail name...</label>
                            <input class="input input--text"
                                   id="formInput#search"
                                   type="text"
                                   name="search_query"
                                   value="{{ search_query }}"
                                   placeholder="Search by city, park or trail name..." />
                        </div>
                        <input class="btn btn--sub btn--lg" type="submit" value="Search" />
                    </form>
                </div>
            </div>
        </section> -->

        <div class="container-first">
		
            <nav class="navigation-container">
                <img src="./images/logo.svg" class="logo">
                <ul id="navigation">
                    <li>
                        <a href="/index.html">Home</a>
                        <a href="/trail.html">Recommendation</a>
                        <a href="#">Trends</a>
                        <a href="#">Regions</a>				
                    </li>
                </ul>
                <button id="open-popup">Recommend <img src="./images/star.svg"></button>
            </nav>
    
            <div class="content">
                <img src="/images/Vector1.svg" alt="">
                <h1>Find Your Trail<br>and Let It Lead You <br> to Adventure!</h1>
    
                <form action="" class="search-bar">
                    <input type="text" placeholder="Select region" name="q">
                    <button type="submit">Search</button>
                </form>
                
                <div class="recommend-part">
                    <img src="./images/rec1.png" alt="">
                    <img src="./images/rec2.png" alt="">
                    <img src="./images/rec3.png" alt="">
                    <img src="./images/rec4.png" alt="">
                    <img src="./images/rec5.png" alt="">
                    <img src="./images/rec6.png" alt="">
                    <p>350+ people already rated trails</p>
                </div>
            </div>	
        </div>

        <div class="container-trail">
            <!-- <div class="rec-h1"><h1>
                Recommended Routes:
            </h1>
            </div>
            <div class="card-container">
                
                <div class="card">
                    <img src="./images/trail1.png" alt="" class="preview-img">
                    <div class="card-content">
                        <div class="rate-star">
                            <p> <span class="difficulty">Difficult</span></p>
                            <div class="star-span">
                                <img src="/images/star.svg" alt="">
                                <img src="/images/star.svg" alt="">
                                <img src="/images/star.svg" alt="">
                                <img src="/images/star.svg" alt="">
                                <img src="/images/star.svg" alt="">
                            </div>
                        </div>	
                        <h3>First - Bachalpsee</h3>
                        <div class="location-card">
                            <img src="./images/location.svg" alt="" class="location-img">
                            <p>Grindelwald, Bern, Switzerland</p>
                        </div>
    
                        <div class="add-info">
                            <p>Length:</p>
                            <div class="length-info">6.0 Km</div>
                        </div>
                        <div class="description-info">This hike leads over a wide, well-kept path along blooming alpine meadows to the Bachalpsee. 
                            At the beginning of the hike there is a short but steep climb to the Gummihütte that has to be mastered.
                        </div>
                        <a href="/trail.html">
                            <button  class="btn-read">
                                Explore now
                            </button> 
                        </a>
                    </div>
                </div>
    
                <div class="card">
                    <img src="./images/trail2.png" alt="" class="preview-img">
                    <div class="card-content">
                        <div class="rate-star">
                            <p><span class="difficulty">Medium</span></p>
                            <div class="star-span">
                                <img src="/images/star.svg" alt="">
                                <img src="/images/star.svg" alt="">
                                <img src="/images/star.svg" alt="">
                                <img src="/images/star.svg" alt="">
                                <img src="/images/star.svg" alt="">
                            </div>
                        </div>	
                        <h3>Lake Oeschinen Loop</h3>
                        <div class="location-card">
                            <img src="/images/location.svg" alt="" class="location-img">
                            <p>Grindelwald, Bern, Switzerland</p>
                        </div>
    
                        <div class="add-info">
                            <p>Length:</p>
                            <div class="length-info">6.0 Km</div>
                        </div>
                        <div class="description-info">This hike leads over a wide, well-kept path along blooming alpine meadows to the Bachalpsee. 
                            At the beginning of the hike there is a short but steep climb to the Gummihütte that has to be mastered.
                        </div>
                        <a href="/trail.html">
                            <button  class="btn-read">
                                Explore now
                            </button> 
                        </a>
                    </div>
                </div>
    
                <div class="card">
                    <img src="./images/trail3.png" alt="" class="preview-img">
                    <div class="card-content">
                        <div class="rate-star">
                            <p><span class="difficulty">Easy</span></p>
                            <div class="star-span">
                                <img src="/images/star.svg" alt="">
                                <img src="/images/star.svg" alt="">
                                <img src="/images/star.svg" alt="">
                                <img src="/images/star.svg" alt="">
                                <img src="/images/star.svg" alt="">
                            </div>
                        </div>	
                        <h3>Northface Trail</h3>
                        <div class="location-card">
                            <img src="/images/location.svg" alt="" class="location-img">
                            <p>Grindelwald, Bern, Switzerland</p>
                        </div>
    
                        <div class="add-info">
                            <p>Length:</p>
                            <div class="length-info">6.0 Km</div>
                        </div>
                        <div class="description-info">This hike leads over a wide, well-kept path along blooming alpine meadows to the Bachalpsee. 
                            At the beginning of the hike there is a short but steep climb to the Gummihütte that has to be mastered.
                        </div>
                        <a href="/trail.html">
                            <button  class="btn-read">
                                Explore now
                            </button> 
                        </a>
                    </div>
                </div>
            </div> -->
            
            <div class="rec-h1"><h1>
                Trendy Trails:
            </h1>
            </div>
    
            <div class="trendy-card-class">
                    <div class="trendy-card">
                        <img src="/images/trendy1.png" alt="">
                        <div class="trendy-card-info">
                            <h1>
                                Grindelwald - <br> Glacier Canyon
                            </h1>
                            <div class="add-info">
                                <h2>Length:</h2>
                                <h2 class="length-info">6.0Km</h2>
                            </div>
                            <a href="">Explore More</a>
                        </div>
                    </div>
        
                    <div class="trendy-card">
                        <img src="/images/trendy2.png" alt="">
                        <div class="trendy-card-info">
                            <h1>
                                Harder Kulm <br> Loop Trail
                            </h1>
                            <div class="add-info">
                                <h2>Length:</h2>
                                <h2 class="length-info">6.0Km</h2>
                            </div>
                            <a href="">Explore More</a>
                        </div>
                    </div>		
                    
                    <div class="trendy-card">
                        <img src="/images/trendy3.png" alt="">
                        <div class="trendy-card-info">
                            <h1>
                                Northface Trail <br> Mürren 
                            </h1>
                            <div class="add-info">
                                <h2>Length:</h2>
                                <h2 class="length-info">6.0Km</h2>
                            </div>
                            <a href="">Explore More</a>
                        </div>
                    </div>	
        
                    <div class="trendy-card">
                        <img src="/images/trendy4.png" alt="">
                        <div class="trendy-card-info">
                            <h1>
                                Schynige Platte <br> Panorama Trail
                            </h1>
                            <div class="add-info">
                                <h2>Length:</h2>
                                <h2 class="length-info">6.0Km</h2>
                            </div>
                            <a href="">Explore More</a>
                        </div>
                    </div>	
            </div>
            
                
    
            <div class="rec-h1"><h1>
                Explore Favorite Regions:
            </h1>
            <p>
                Explore regions that are familiar to you or explore new routes in a new land
            </p>
            </div>
            
    
            <!--DO NOT FORGET TO ADD THE PROPERTIES FOR THE DB-->
            <div>
                <div class="fav-regions-container">
                    <div class="fav-region-container">
                        <div class="fav-region-card">
                            <img src="/images/fav1.png" alt="">
                            <div class="fav-region-info">
                                <h1>
                                    Grindelwald
                                </h1>
                                <p>North Rhine-Westphalia</p>
                            </div>
                        </div>
                    
            
                    <div class="fav-region-container">
                        <div class="fav-region-card">
                            <img src="/images/fav2.png" alt="">
                            <div class="fav-region-info">
                                <h1>
                                    Baldenesee
                                </h1>
                                <p>Baden-Württemberg</p>
                            </div>
                        </div>
                    </div>
            
                    <div class="fav-region-container">
                        <div class="fav-region-card">
                            <img src="/images/fav3.png" alt="">
                            <div class="fav-region-info">
                                <h1>
                                    Baldeneyer
                                </h1>
                                <p>Baden-Württemberg</p>
                            </div>
                        </div>
                    </div>
            
                    <div class="fav-region-container">
                        <div class="fav-region-card">
                            <img src="/images/fav4.png" alt="">
                            <div class="fav-region-info">
                                <h1>
                                    Bahntrassentour
                                </h1>
                                <p>Mecklenburg- Vorpommern</p>
                            </div>
                        </div>
                    </div>
            
                    <div class="fav-region-container">
                        <div class="fav-region-card">
                            <img src="/images/fav5.png" alt="">
                            <div class="fav-region-info">
                                <h1>
                                    Ruhrschleife
                                </h1>
                                <p>North Rhine-Westphalia</p>
                            </div>
                        </div>
                    </div>
            
                    <div class="fav-region-container">
                        <div class="fav-region-card">
                            <img src="/images/fav6.png" alt="">
                            <div class="fav-region-info">
                                <h1>
                                    Jadhaus
                                </h1>
                                <p>North Rhine-Westphalia</p>
                            </div>
                        </div>
                    </div>
            
                    <div class="fav-region-container">
                        <div class="fav-region-card">
                            <img src="/images/fav7.png" alt="">
                            <div class="fav-region-info">
                                <h1>
                                    Mechtenberg
                                </h1>
                                <p>North Rhine-Westphalia</p>
                            </div>
                        </div>
                    </div>
            
                    <div class="fav-region-container">
                        <div class="fav-region-card">
                            <img src="/images/fav8.png" alt="">
                            <div class="fav-region-info">
                                <h1>
                                    Ruhrausflug
                                </h1>
                                <p>The Free State of Bavaria</p>
                            </div>
                        </div>
                    </div>
            
                    <div class="fav-region-container">
                        <div class="fav-region-card">
                            <img src="/images/fav9.png" alt="">
                            <div class="fav-region-info">
                                <h1>
                                    Essenrad
                                </h1>
                                <p>Brandenburg</p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
            
        </div>
    
    
        <div class="additional-explore-container">
                <p>
                    Step into the <br>
                    adventure of a lifetime
                </p>
    
                <button>Explore More</button>
        </div>
    
        <div class="pop-up">
            <button type="button" class="btn-close" aria-label="Close"></button>
            

            <div class="questionnaire visible" id="question1">
                <h2>Choose the region!</h2>
                <div class="dropdown">
                    <div class="select">
                        <span class="selected">Region</span>
                        <div class="caret"></div>
                    </div>
                    <ul class="menu">
                        {% for region in regions %}
                        <li id="{{region}}">
                            {{ region }}
                        </li>
                        {% endfor %}
                    </ul>

                    <button id="save-button" class="add-btn">+</button>
                </div>
            </div>
            <div class="questionnaire" id="question2">
                <h2>Choose hike features</h2>
                <div class="chip-container" id="chip-container">
                    {% for feature in features %}
                    <button class="chip" onclick="changeColor(this)" id="{{feature}}">                      
                        {{ feature|capfirst }}
                    </button>
                    {% endfor %}
                </div>

                <button class="add-btn" onclick="setCookies('chip-container', 'active-feature', 'features')">+</button>
            </div>

            <div class="questionnaire" id="question3">
                <!--Range for length-->
                <!-- <label for="numberInput" class="form-label">Duration from (in minutes):</label>
                <input type="number" class="form-control" id="numberInput" min="{{duration_min}}" max="{{duration_max}}" step="1" oninput="updateRangeValue(this.value)">
                <br>
                <label for="customRange3" class="form-label">Example range</label>
                <input type="range" class="form-range" min="{{duration_min}}" max="{{duration_max}}" step="1" id="customRange3"> -->

                <h2>Choose the duration</h2>       
                <div class="number-inputs">
                    <div>
                        <h1>Min:</h1>
                        <input type="number" placeholder="{{duration_min}}" min="0" id="duration_min">
                    </div>

                    <div>
                        <h1>Max:</h1>
                        <input type="number" placeholder="{{duration_max}}" min="0" id="duration_max">
                    </div> 
                    
                    <button onclick="storeDurationValues()" class="add-btn"> + </button>
                  </div>
            </div>


            <div class="questionnaire"  id="question4">
                <div class="difficulties-container">
                    <h2>Choose the difficulty:</h2>
                    <div class="difficulty-btn-container" id="difficulties-container">
                        <button class="questionnaire-child" onclick="changeColorDifficulty(this)" id="1">
                            <h2>Easy</h2>
                        </button>
            
                        <button class="questionnaire-child" onclick="changeColorDifficulty(this)" id="3">
                            <h2>Medium</h2>
                        </button>
            
                        <button class="questionnaire-child" onclick="changeColorDifficulty(this)" id="5">
                            <h2>Hard</h2>
                        </button>
        
                        <button class="questionnaire-child" onclick="changeColorDifficulty(this)" id="7">
                            <h2>Very Hard</h2>
                        </button>
                    </div>
                </div>        
                <button class="add-btn" onclick="setCookies('difficulties-container', 'active-difficulty', 'difficulty')">+</button>
            </div>

            <div class="questionnaire" id="question5">
                <!--Range for length-->
                <!-- <label for="numberInput" class="form-label">Enter the length (in meter):</label>
                <input type="number" class="form-control" id="lengthInput" min="{{length_min}}" max="{{length_max}}" step="1" oninput="updateRangeValue(this.value)">
                <br>
                <label for="customRange4" class="form-label">Example range</label>
                <input type="range" class="form-range" min="{{length_min}}" max="{{length_max}}" step="1" id="customRange4"> -->


                <h2>Choose the length</h2>       
                <div class="number-inputs">
                    <div>
                        <h1>Min:</h1>
                        <input type="number" placeholder="{{length_min}}" min="0" id="length_min">
                    </div>

                    <div>
                        <h1>Max:</h1>
                        <input type="number" placeholder="{{length_max}}" min="0" id="length_max">
                    </div>  
                    
                    <button onclick="storeLengthValues()" class="add-btn"> + </button>
                  </div>
            </div>


            
            <!-- <div class="questionnaire" id="question5">             
                <h2>How many trails want you to see</h2>                   
                <input type="number" placeholder="Enter the number" min="0" id="num_of_trials"> 
                
                <button onclick="storeNumberOfTrails()" class="add-btn">
                Add
            </button>
            </div> -->

            <div class="buttons-container" id="buttons-container">
                <button onclick="showPrevious()">
                    Previous
                </button>
    
                <button onclick="showNext()">
                    Next Step
                </button>
            </div>

            <div class="buttons-container-finish" id="buttons-container-finish">
                <button onclick="showPrevious()">
                    Previous
                </button>
    
                <button  id="finishBtn">
                    Finish
                </button>
            </div>
        </div>
    </div>
    
    <footer>
    
        <div class="footer-content">
            <div class="footer-socials">
            <img src="/images/logo_2.svg" alt="">
            <p>Where the Trail Leads, <br> Adventure Follows</p>
    
                <div class="socials-icons">
                    <a href=""><img src="/images/linkedin.svg" alt=""></a>
                    <a href=""><img src="/images/messenger.svg" alt=""></a>
                    <a href=""><img src="/images/twitter.svg" alt=""></a>
                    <a href=""><img src="/images/twoo.svg" alt=""></a>
                </div>
            </div>
    
            <div class="extra-footer-info">
                <a href="#"><h1>Sitemap</h1></a>
                <a href="#"><p>Home</p></a>
                <a href="#"><p>Recommendation</p></a>
                <a href="#"><p>Trends</p></a>
                <a href="#"><p>Regions</p></a>
            </div>
    
            <div class="extra-footer-info">
                <a href="#"><h1>Regions</h1></a>
                <a href="#"><p>Bern</p></a>
                <a href="#"><p>Graubünden</p></a>
                <a href="#"><p>Zürich</p></a>
                <a href="#"><p class="all-regions">All Regions</p></a>
            </div>
    
            <div class="search-footer-info">
                <h1>Join Our Newsletter</h1>
    
                <form action="" class="search-bar-footer">
                    <input type="text" placeholder="Your email address" name="q">
                    <button type="submit">Subscribe</button>
                </form>
    
                <p>* Will send you weekly updates for your better <br>tour packages.</p>
        </div>
    </div>
    <div class="horizontal-line"></div>
    
    <p class="copy-right">Copyright @ HikeMate 2024. All Rights Reserved.</p>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var dropdown = document.querySelector('.dropdown');
            var selectedRegion = dropdown.querySelector('.selected');
            var menuItems = dropdown.querySelectorAll('.menu li');
            var saveButton = document.getElementById('save-button');

            menuItems.forEach(function (item) {
                item.addEventListener('click', function () {
                    var selectedId = item.id;
                    dropdown.id = selectedId;
                    selectedRegion.textContent = item.textContent;
                });
            });

            saveButton.addEventListener('click', function () {
                var region = dropdown.id;
                document.cookie = "region=" + region + '; expires expires=Thu, 01 Jan 2030 00:00:00 UTC; path=/';  
                alert("cookie " + document.cookie + " is set"); 
            });
        });
    </script>
        
       


        <!-- Search Result: DevList -->
        <!-- <section class="projectsList">
            <div class="container">
                <div class="grid grid--three">
                    {% for trail in trails %}
                        <div class="column">
                            <div class="card project">
                                <a href="{% url 'trail' trail.id %}" class="project">
                                    <img class="project__thumbnail"
                                         src="{{ trail.featured_image.url }}"
                                         alt="trail thumbnail" />
                                    <div class="card__body">
                                        <h3 class="project__title">{{ trail.name }}</h3>
                                        <p class="project--rating">
                                            <span style="font-weight: bold;">{{ trail.avg_rating }}</span> Rating ({{ trail.review_count }} Review{{ trail.review_count|pluralize:"s" }})
                                        </p>
                                        <div class="project__tags">
                                            {% for activity in trail.activities.all %}
                                                <span class="tag tag--pill tag--main">
                                                    <small>{{ activity }}</small>
                                                </span>
                                            {% endfor %}
                                            {% for feature in trail.features.all %}
                                                <span class="tag tag--pill tag--main">
                                                    <small>{{ feature }}</small>
                                                </span>
                                            {% endfor %}
                                            {% for obstacle in trail.obstacles.all %}
                                                <span class="tag tag--pill tag--main">
                                                    <small>{{ obstacle }}</small>
                                                </span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section> -->
        {% include "pagination.html" with queryset=trails custom_range=custom_range %}
    <!-- </main> -->
{% endblock content %}
